src/schemas/courses.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://uriel.santoyo.com/tws/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uriel.santoyo.com/tws/schemas" targetNamespace="http://uriel.santoyo.com/tws/schemas">
  <wsdl:types>
    <xs:schema xmlns:tws="http://uriel.santoyo.com/tws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://uriel.santoyo.com/tws/schemas">
	
	<!-- Operations -->
	
	<!-- Search for studend info by his ID -->
	<xs:element name="getStudentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getStudentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student" type="tws:Student"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Search for module data by student ID and module number -->
	<xs:element name="getModuleRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:string"/>
				<xs:element name="moduleNumber" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="getModuleResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="module" type="tws:Module"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Types -->
	<xs:complexType name="Course">
		<xs:all>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Grade" type="xs:decimal"/>
			<xs:element name="Oportinity" type="xs:integer"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Module">
		<xs:sequence>
			<xs:element name="Number" type="xs:integer"/>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="Courses" type="tws:Course"/>
			<xs:element name="ModuleDuration" type="xs:integer"/>
			<xs:element name="InitDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Student">
		<xs:sequence>
			<xs:element name="FirstName" type="xs:NCName"/>
			<xs:element name="LastName" type="xs:NCName"/>
			<xs:element name="Id" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStudentResponse">
    <wsdl:part element="tns:getStudentResponse" name="getStudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStudentRequest">
    <wsdl:part element="tns:getStudentRequest" name="getStudentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getModuleRequest">
    <wsdl:part element="tns:getModuleRequest" name="getModuleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getModuleResponse">
    <wsdl:part element="tns:getModuleResponse" name="getModuleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CoursesDetailPort">
    <wsdl:operation name="getStudent">
      <wsdl:input message="tns:getStudentRequest" name="getStudentRequest">
    </wsdl:input>
      <wsdl:output message="tns:getStudentResponse" name="getStudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModule">
      <wsdl:input message="tns:getModuleRequest" name="getModuleRequest">
    </wsdl:input>
      <wsdl:output message="tns:getModuleResponse" name="getModuleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoursesDetailPortSoap11" type="tns:CoursesDetailPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStudent">
      <soap:operation soapAction=""/>
      <wsdl:input name="getStudentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModule">
      <soap:operation soapAction=""/>
      <wsdl:input name="getModuleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getModuleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoursesDetailPortService">
    <wsdl:port binding="tns:CoursesDetailPortSoap11" name="CoursesDetailPortSoap11">
      <soap:address location="http://localhost:8080/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>